.task{
    display: flex;
    flex-direction: row;

    align-items: center;
    min-height: 3.4rem;
    justify-content: space-between;
    


    
    padding: .5% 0;

    .task-elements{
        padding-left: 1.5%;
        padding-right: 1.5%;
        text-align: center;
        
    }

    .t-check{
       width: 15%;
    }

    .t-name{
        width: 65%;
    }
    .t-duration{
        width: 15%;
    }
    .t-edit{
        width: 15%;
    }
}






.icon{
    fill: #085c08;
}

.i-edit{
    fill: #6e6e6e;
    height: 1.7rem;
    width: 1.7rem;
}

.task:not(:last-child){
    border-bottom: 1px solid #eb2f64;
}