.u-margin-bottom-small { margin-bottom: 2rem !important; }

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #FF3366, #BA265D);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing: .2rem;


    &:hover{
        transform: scale(1.05);
        text-shadow: .5rem 1rem 2rem rgba(#000, .2);
    }
}